@model Team
@{
    ViewData["Title"] = "Ekibe Üye Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">@ViewData["Title"]</div>
    </div>

    <div class="card-body">


        <form action="CreateTeam" method="post">

            @* resim link bölümü *@
            <div class="form-group">
                <label asp-for="ImageUrl" class="font-weight-bold"></label>
                <input type="text" asp-for="ImageUrl" class="form-control" placeholder="resim linki ekleyin" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            @* ad bölümü *@
            <div class="form-group">
                <label asp-for="Name" class="font-weight-bold"></label>
                <input asp-for="Name" class="form-control" placeholder="ad" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            @* soyad bölümü *@
            <div class="form-group">
                <label asp-for="Surname" class="font-weight-bold"></label>
                <input asp-for="Surname" class="form-control" placeholder="soyad" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            @* ünvan bölümü *@
            <div class="form-group">
                <label asp-for="Title" class="font-weight-bold"></label>
                <input type="text" asp-for="Title" class="form-control" placeholder="ünvan" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            @* açıklama bölümü *@
            <div class="form-group">
                <label asp-for="Description" class="font-weight-bold"></label>
                <textarea asp-for="Description" class="form-control" rows="5" placeholder="ürün adı"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Ekle</button>
            <a asp-controller="Product" asp-action="Index" class="btn btn-danger">İptal</a>

        </form>

    </div>
</div>

