@model Service
@{
    ViewData["Title"] = "Hizmet Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">@ViewData["Title"]</div>
    </div>
    <div class="card-body">
        <form asp-action="UpdateService" method="post">

            <input type="hidden" asp-for="ServiceId" />

            <div class="form-group">
                <label asp-for="Icon" class="font-weight-bold">Icon URL'si</label>
                <input asp-for="Icon" type="text" class="form-control" placeholder="Icon URL'si" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="font-weight-bold">Hizmet Adı</label>
                <input asp-for="Name" class="form-control" placeholder="Hizmet Adı" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="font-weight-bold">Açıklama</label>
                <textarea asp-for="Description" class="form-control" placeholder="Açıklama" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-info">Güncelle</button>
            <a asp-action="Index" class="btn btn-danger">Geri Dön</a>
        </form>
    </div>
</div>
