@model ContactInfo
@{
    ViewData["Title"] = "İletişim Bilgilerini Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">@ViewData["Title"]</h4>
        </div>

        <div class="card-body">
            <form asp-controller="Contact" asp-action="CreateContact" method="post">
                <div class="row">

                    <input type="hidden" asp-for="ContactInfoId" />

                    <div class="col-md-6">
                        <label asp-for="Email"></label>
                        <input id="email" asp-for="Email" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Phone"></label>
                        <input id="email" asp-for="Phone" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Description"></label>
                        <textarea id="name" asp-for="Description" class="form-control"></textarea>
                    </div>
                </div>

                <div class="modal-footer border-0">
                    <button type="submit" class="btn btn-info">Güncelle</button>
                    <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index","Contact")'">İptal</button>
                </div>
            </form>
        </div>
    </div>
</div>

