@model Testimonial
@{
    ViewData["Title"] = "Referans Ekle Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">@ViewData["Title"]</div>
    </div>
    <div class="card-body">
        <form asp-action="CreateTestimonial" method="post">

            @* resim linki bölümü *@
            <div class="form-group">
                <label asp-for="ImageUrl" class="font-weight-bold">Görsel URL'si</label>
                <input asp-for="ImageUrl" type="text" class="form-control" placeholder="Görsel URL'si" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            @* ad bölümü *@
            <div class="form-group">
                <label asp-for="Name" class="font-weight-bold"></label>
                <input asp-for="Name" class="form-control" placeholder="adınız" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            @* soyad bölümü *@
            <div class="form-group">
                <label asp-for="Surname" class="font-weight-bold"></label>
                <input asp-for="Surname" class="form-control" placeholder="soyadınız" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            @* ünvan bölümü *@
            <div class="form-group">
                <label asp-for="Title" class="font-weight-bold">Başlık</label>
                <input asp-for="Title" class="form-control" placeholder="Başlık" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            @* yorum bölümü *@
            <div class="form-group">
                <label asp-for="Comment" class="font-weight-bold">Yorum</label>
                <textarea asp-for="Comment" class="form-control" placeholder="Yorum" rows="4"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Kaydet</button>
            <a asp-controller="Testimonial" asp-action="Index" class="btn btn-danger">Geri Dön</a>
        </form>
    </div>
</div>

