@model SocialMedia
@{
    ViewData["Title"] = "Sosyal Medya Hesabı Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">@ViewData["Title"]</div>
    </div>

    <div class="card-body">


        <form action="CreateSocialMedia" method="post">
            <div class="form-group">
                <label asp-for="Icon" class="font-weight-bold"></label>
                <input asp-for="Icon" class="form-control" placeholder="ürün görseli url değeri" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="font-weight-bold"></label>
                <input asp-for="Name" class="form-control" placeholder="ürün adı" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Url" class="font-weight-bold"></label>
                <input asp-for="Url" class="form-control" placeholder="ürün adı" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Ekle</button>
            <a asp-controller="SocialMedia" asp-action="Index" class="btn btn-danger">İptal</a>

        </form>

    </div>
</div>

